<h3 class="mb-5 light-purple-text" >Sign Up</h3>

<form [formGroup]="form">
  <div class="form-outline mb-4">
    <input type="text" id="name" formControlName="name" class="form-control form-control-lg" />
    <label class="form-label" for="name" >Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="username" formControlName="username" class="form-control form-control-lg" />
    <label class="form-label" for="username" >Username</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password"  formControlName="password" class="form-control form-control-lg" />
    <label class="form-label" for="password" >Password</label>
  </div>
</form>
<button class="btn btn-lg btn-block light-purple-button" type="submit" (click)="register()">Register</button>
<hr class="my-4">

<p>Already have an account? <span (click)="goToLoginForm()" class="dark-purple-text">Sign in!</span></p>
