<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
</head>
<body>
<div class="container-fluid" >
  <div class="row full-height">
    <div class="col-md-3 px-0" *ngIf="storageUser">
      <div class="side-panel">
        <div class="header border-bottom ">
          <div class="row align-items-center">
            <div class="col pe-0">
              <input type="text" class="form-control search-bar" placeholder="Search rooms...">
            </div>
            <div class="col-auto ">
              <div><i class="bi bi-plus-circle-fill fs-2"></i></div>
            </div>
          </div>
        </div>
        <div class="list-container">
          <h4 class="section-heading text-white mt-3">Channels</h4>
          <ul class="list-group">
            <button *ngFor="let room of rooms$ | async"
                    class="list-group-item room-button"
                    (click)="navigateToPage(room.id)"
            >
              {{ room.name }}
            </button>
          </ul>

          <h4 class="section-heading text-white mt-3">Direct Messages</h4>
          <ul class="list-group">
            <button *ngFor="let room of rooms$ | async"
                    class="list-group-item room-button"
                    (click)="navigateToPage(room.id)"
            >
              {{ room.name }}
            </button>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-0" [ngClass]="{'col-md-9':storageUser, 'col-md-12': !storageUser}">
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</body>
</html>
