<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
</head>
<body>
<div class="container-fluid" >
  <div class="row full-height">
    <div class="col-md-3 px-0">
      <app-side-panel (storedUser)="getStoredUser($event)"></app-side-panel>
    </div>
    <div class="px-0" [ngClass]="{'col-md-9':storedUser, 'col-md-12': !storedUser}">
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</body>
</html>
